@import "../common/common.css";

div.assign-div {
	text-align: left;
	width: 300px;
	margin: 0px auto;
	padding-left: 50px;
}

.ztree {
	width: 230px;
	overflow: auto;
	margin: 0 auto;
}

.panel-heading i{
	cursor:pointer;
}
.panel-heading i:hover{
	color:#3280fc;
}
.panel-heading i{
	font-size:16px;
	margin-right:5px;
}