<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<link href="./static/css/bootstrapStyle/bootstrapStyle.css" rel="stylesheet" />
	<script src="./static/js/common/jquery.ztree.all.js"></script>
	<script src="./static/js/common/inputTree.js"></script>
	<link href="./static/css/user/user.css" rel="stylesheet" />
	<script src="./static/js/user/user.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-2 content">
			<div class="panel">
				<div class="panel-heading" style="height:49px;line-height:32px;">
					<i class="icon icon-sitemap"></i>
					<span>组织机构</span>
					<i class="icon icon-eraser" data-toggle="tooltip" data-placement="bottom" title="清除选择" @click="cancelTreeZzjg"></i>
				</div>
				<div class="panel-body" style="height:calc(100% - 49px);">
					<!-- ztree zzjg start -->
					<ul id="treeZzjg" class="ztree" style="width:100%;"></ul>
					<!-- ztree zzjg end -->
				</div>
			</div>
		</div>
	
		<div class="col-md-8 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词">
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search"><i class="icon icon-search"></i>搜索</button>
								<button class="btn btn-default" @click="reset"><i class="icon icon-refresh"></i>重置</button>
								<button class="btn btn-success" @click="addEdit"><i class="icon icon-plus"></i>新增</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- table start -->
					<div style="height:38px;">
						 <table class="table table-hover table-striped" style="margin:0px;">
						 	<thead>
						 		<th width="47"><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
								<th width="100">用户名</th>
								<th width="100">姓名</th>
								<!-- <th width="228">手机号码</th>
								<th width="137">性别</th> -->
								<th width="340">单位</th>
								<th>代理机构</th>
								<th width="123">关联角色</th>
								<th width="123">操作</th>
						 	</thead>
						 </table>
					</div>
					<div v-if="users && users.length > 0" style="height:calc(100% - 38px);overflow:auto;">
						<table class="table table-hover table-striped">
							<tbody>
								<tr v-for="user in users">
									<td width="47"><div @click="checkbox" class="checkbox-primary checkbox-children" style="width:16px;" :data-id="user.id"><label></label></div></td>
									<td width="100">{{user.yhzh}}</td>
									<td width="100">{{user.yhxm}}</td>
									<!-- <td width="228">{{user.sjhm}}</td>
									<td width="137">{{user.yhxb}}</td> -->
									<td width="340">{{user.zzjgmc}}</td>
									<td>{{user.dljgname}}</td>
									<td width="123"><template v-for="role in user.roles">{{role.jsmc}}</template></td>
									<td width="123">
										<button class="btn btn-xs btn-primary" @click="updateEdit(user)"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteUser(user.id)"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div v-if="users && users.length == 0" style="height:calc(100% - 38px);overflow:auto;">
						<div style="color:#999;padding:15px;line-height:100px;">暂无数据</div>
					</div>
					<!-- table end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<div class="col-md-2 content" style="height:calc(40% - 10px);">
			<div class="panel">
				<div class="panel-heading" style="text-align:left;">
					<button class="btn btn-success" @click="saveBatch"><i class="icon icon-exchange"></i>批量分配角色</button>
				</div>
				<div class="panel-body" style="height:calc(100% - 49px);">
					<!-- ztree batch start -->
					<ul id="treeBatch" class="ztree"></ul>
					<!-- ztree batch end -->
				</div>
			</div>
		</div>
		
		<div class="col-md-2 content" style="height:calc(60% - 10px);margin-top:20px;">
			<div class="panel">
				<div class="panel-heading" style="text-align:left;">
					<button class="btn btn-success" @click="saveBatchDljg"><i class="icon icon-exchange"></i>批量分配代理机构</button>
				</div>
				<div class="panel-body" style="height:calc(100% - 49px);">
					<ul id="treeDljg" class="ztree"></ul>
				</div>
			</div>
		</div>
		
		<!-- edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 required">用户名</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.yhzh" id="yhzh" placeholder="用户名" />
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-3 required">用户密码</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" v-model="user4Add.yhmm" id="yhmm" placeholder="用户密码" />
					</div>
				</div>
				<div class="form-group">
					<label for="realname" class="col-sm-3 required">用户姓名</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.yhxm" id="yhxm" placeholder="用户姓名" />
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="col-sm-3">警员编号</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.jybh" id="jybh" placeholder="警员编号" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3">警员类型</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.jylx" id="jylx" placeholder="警员类型" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3">职务</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.zw" id="zw" placeholder="职务" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3">用户性别</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.yhxb" id="yhxb" placeholder="用户性别" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3">手机号码</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="user4Add.sjhm" id="sjhm" placeholder="手机号码" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3 required">单位</label>
					<div class="col-sm-9">
						<input class="form-control" readonly id="zzjgmc" placeholder="单位" />
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-3">代理机构</label>
					<div class="col-sm-9">
						<input class="form-control" readonly id="dljg" placeholder="代理机构" />
					</div>
				</div>
				<!-- ztree start -->
				<ul id="tree" class="ztree"></ul>
				<!-- ztree end -->
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save"><i class="icon icon-check"></i>保存</button>
				<button class="btn btn-default" @click="cancel"><i class="icon icon-times"></i>取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- edit end -->
	</div>
</body>
</html>