<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Flip Card Clock</title>
<script src="./static/js/common/jquery.min.js"></script>
<script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
</head>
<body>
<div style="height:1000px;"></div>
<img src="./static/image/usericon.jpg" data-src="https://www.liaoxuefeng.com/files/attachments/1182312922347168/l">
<script>
$(function() {
	var $window = $(window);
	var lazyImgs = _.map($("img[data-src]").get(), function(i) {
		return $(i);
	});
	var onScroll = function() {
		var wtop = $window.scrollTop();
		if (lazyImgs.length > 0) {
			var wheight = $window.height();
			var loadedIndex = [];
			_.each(lazyImgs, function($i, index) {
				if ($i.offset().top - wtop < wheight) {
					$i.attr("src", $i.attr("data-src"));
					loadedIndex.unshift(index);
				}
			});
			_.each(loadedIndex, function(index) {
				lazyImgs.splice(index, 1);
			});
		}
	};
	$window.scroll(onScroll);
	onScroll();
});
</script>
</body>
</html>