<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/myUpload.js"></script>
	<script src="./static/js/common/component-pager.js"></script>
	<script src="./static/js/common/component-table.js"></script>
	<script src="https://webapi.amap.com/maps?v=1.4.15&key=3b549b12fc5da74a2f140e4673579aa9&plugin=AMap.ToolBar,AMap.MouseTool"></script>
	<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	<link href="./static/css/bootstrapStyle/bootstrapStyle.css" rel="stylesheet" />
	<script src="./static/js/common/jquery.ztree.all.js"></script>
	<script src="./static/js/common/inputTree.js"></script>
	<link href="./static/css/wb/wb.css" rel="stylesheet" />
	<script src="./static/js/wb/wb.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-12 content table-content">
			<div class="panel">
				<div class="panel-heading">
					<!-- top start -->
					<div id="top-div">
						<!-- search start -->
						<div class="input-group search-div search-div-more">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词" style="width:200px;">
							<span class="input-group-addon fix-border fix-padding"></span>
							<input type="text" class="form-control" id="keyword-zzjgmc" readonly placeholder="请选择单位" style="width:400px;">
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search"><i class="icon icon-search"></i>搜索</button>
								<button class="btn btn-default" @click="reset"><i class="icon icon-refresh"></i>重置</button>
								<button class="btn btn-success" @click="addEdit"><i class="icon icon-plus"></i>新增</button>
							</span>
						</div>
						<!-- search end -->
					</div>
					<!-- top end -->
				</div>
				<div class="panel-body">
					<!-- items start -->
					<div class="col-md-3 content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
						<div class="panel" id="listPanel" style="border:none;">
							<div class="panel-body" id="listPanelBody">
								<div class="list list-condensed">
									<div class="items items-hover">
										<div v-if="itemList && itemList.length != 0" v-for="item in itemList" class="item" :class="{activeItem:item==activeItem}" @click="updateEdit(item)">
											<div class="item-heading">
												<div class="pull-right">
													<i class="icon-trash" data-toggle="tooltip" data-placement="bottom" title="删除" @click.stop="deleteItem(item)">删除</i>
												</div>
												<h4><a href="javascript:void(0)">{{item.mc}}</a></h4>
											</div>
											<hr>
											<div class="item-content">
												<p>
													<strong>地址</strong>
													<span>{{item.dz}}</span>
												</p>
												<p>
													<strong>单位</strong>
													<span>{{item.zzjgmc}}</span>
												</p>
											</div>
											<div class="item-footer">
												<span class="text-muted">{{item.createtime}}</span>
											</div>
										</div>
										<div v-if="itemList && itemList.length == 0" style="color:#999;padding:15px;line-height:100px;text-align:center;">
											暂无数据
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- items end -->
					<!-- map start -->
					<div class="col-md-9 content">
						<div class="panel" id="mapContainerPanel">
							<div class="panel-body" id="mapContainer">
								
							</div>
						</div>
					</div>
					<!-- map end -->
				</div>
				<div class="panel-footer">
					<!-- page start -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- page end -->
				</div>
			</div>
		</div>
		
		<!-- edit start -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 required">名称</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="wb4Add.mc" id="mc" placeholder="名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="phonenumber" class="col-sm-3">地址</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="wb4Add.dz" id="dz" placeholder="地址" />
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-3">编号</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="wb4Add.bh" id="bh" placeholder="编号" />
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-sm-3">联系电话</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="wb4Add.lxdh" id="lxdh" placeholder="联系电话" />
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-sm-3">负责人</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="wb4Add.fzr" id="fzr" placeholder="负责人" />
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-sm-3 required">单位</label>
					<div class="col-sm-9">
						<input class="form-control requiredInput" readonly id="zzjgmc" placeholder="单位" />
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-sm-3 required">坐标</label>
					<div class="col-sm-9">
						<input class="form-control requiredInput" v-model="wb4Add.shape" id="loaction" readonly placeholder="坐标" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3">绘点</label>
					<div class="col-sm-9" style="text-align:left;">
						<button class="btn btn-info" @click="addLocation"><i class="icon icon-map-marker"></i>绘点</button>
					</div>
				</div>
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save"><i class="icon icon-check"></i>保存</button>
				<button class="btn btn-default" @click="cancel"><i class="icon icon-times"></i>取消</button>
			</div>
		</div>
		<!-- edit end -->
	</div>
</body>
</html>